{
  "client_id": "YOUR_XRAY_CLIENT_ID",
  "client_secret": "YOUR_XRAY_CLIENT_SECRET",
  "jira_url": "https://yourcompany.atlassian.net",
  "projects": ["PROJ1", "PROJ2"],
  "jira_email": "your.email@example.com",
  "jira_api_token": "YOUR_JIRA_API_TOKEN",
  "qase_host": "https://api.qase.io/v1",
  "qase_api_token": "YOUR_QASE_API_TOKEN",
  "preserve_xray_case_ids": false
}
